body{
    padding: 0;
    margin: 0;
    background-image: url(images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
}
.card{
    width: 90%;
    margin: 2rem auto;
    background-color: white;
    border-radius: 1.5rem;
}
.card > img{
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0;
    margin-bottom: 1em;
}
.card h3{
    font-size: 1.25em;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}
.card > p{
    color: hsl(224, 23%, 55%);
    margin: 1.5rem 2rem;
}
.annual-plan{
    background-color: hsl(225, 100%, 98%);
    display: flex;
    width: 80%;
    margin: auto auto;
    border-radius: 0.5rem;
    padding: 0.8rem;
}
.annual-plan img{
    margin: auto 0;
}
.annual-plan .some-text{
    margin: auto auto auto 1.25rem;
    text-align: start;
}
.annual-plan .some-text h5{
    margin: 0;
    color: hsl(223, 47%, 23%);
    font-weight: 700;
}
.annual-plan .some-text p{
    margin: 0;
    color: hsl(224, 23%, 55%);
    font-weight: 500;
}
.annual-plan a{
    color: hsl(245, 75%, 52%);
    margin: auto 0 auto auto;
}
.annual-plan a:hover{
    color: hsl(245, 75%, 52%,0.75);
    text-decoration: none;
}
.card button{
    width: 86.5%;
    margin: 1.5rem auto;
    padding: 1rem;
    color: white;
    background-color: hsl(245, 75%, 52%);
    border: none;
    border-radius: 0.8rem;
    font-family: inherit;
    font-weight: 700;
    box-shadow: 0 0.5rem 0.5rem 0.25rem hsl(225, 100%, 94%);
}
.card button:hover{
    background-color: hsl(245, 75%, 52%,0.75);
}
.card > a {
    display: block;
    padding: 1rem;
    padding-bottom: 2.5rem;
    color:hsl(224, 23%, 55%);
    text-decoration: none;
    font-weight: 700;
}
.card > a:hover{
    color:hsl(223, 47%, 23%);
}
.attribution{
    padding: 1rem;
}

@media (min-width: 375px) {
    body{ 
        background-image: url(images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
    }
}
@media (min-width: 481px){
    .card{
        width: 70%;
        margin: 2rem auto;
    }
}
@media (min-width: 768px){
    .card{
        width: 50%;
        margin: 3rem auto;
    }
}
@media (min-width: 1024px){
    .card{
        width: 30%;
        margin: 4rem auto;
    }
}